<?xml version="1.0"?>
<launch>
    
    <!-- Determine HPE + UAV ctl responsivness min(1)/max(209)-->
    <arg name="ctl_freq" value="10"/>
    <arg name="use_calibration" default="false"/>
    <arg name="control_type"    default="euler2d"/>
    <arg name="depth_cam"       default="false"/>

    <!-- Launch usb_cam and HPE -->
    <!-- Has topic republish from image_raw to topic_name_for_gesture-->
    <include file="$(find usb_cam)/launch/usb_cam-test.launch"/>

    <!-- Launch human pose estimation by auth-->
    <include file="$(find visualanalysis_acw)/launch/gesture_2d_pose.launch"/>

    <!-- send position commands using HPE -->
    <node name="controller_node" pkg="hpe_ros_package" type="drone_controller.py" args="$(arg ctl_freq) $(arg control_type)" output="screen"/>




</launch>
