<launch>

    <arg name="ctl_freq" value="10"/>
    <arg name="control_type"    default="position"/>

    <!-- send robotic arm position commands using HPE-->
    <node name="controller_node" pkg="hpe_ros_package" type="arm_controller.py" args="$(arg ctl_freq) $(arg control_type)" output="screen"/>


</launch>