<launch>

    <arg name="ctl_freq" value="10"/>
    <arg name="control_type"    default="euler2d"/>

    <!-- send position commands using HPE -->
    <node name="uav_control_node" pkg="hpe_ros_package" type="drone_controller.py" args="$(arg ctl_freq) $(arg control_type)" output="screen"/>


</launch>